.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .status {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
  
    .board-row:after {
      clear: both;
      content: "";
      display: table;
    }
    
    .user-move {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      visibility: visible;
      
      &.hidden {
        visibility: hidden;
      }

      label {
        font-size: 12px;
        margin-right: 5px;
      }
  
      input {
        height: 30px;
        width: 60px;
        text-align: center;
      }
      
      .btn-submit {
        @include btn;
      }
    }
  
    .btn-rematch {
      @include btn;
    }

    a {
      margin-top: 10px;
    }
  }  
}